
#react-root{
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

html, body, .app-container{
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
}

.rp-full-layout{
  height: 100%;
  width: 100%;
}
